{% extends 'base.html.twig' %}

{% block title %}Bolixe{% endblock %}

{% block footer %}
    <div class="footer">
        <p>© Aircury S.L. Todos los derechos reservados</p>
        <img src="{{ asset('assets/logo.png') }}" alt="Logo">
        <nav>
            <ul>
                <li><a href="/">Procesadores</a></li>
                <li><a href="/">Política de privacidad</a></li>
                <li><a href="/">Política de cookies</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
