{% extends 'base.html.twig' %}

{% block title %}Bolixe{% endblock %}

{% block header %}
    <div class="header">
        <img src="{{ asset('assets/logo.png') }}" alt="Logo">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Reproductor</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
